[Unit]
Description=Web server (with ui) for control the pirgb-server
After=network.target

[Service]
WorkingDirectory=%h/pirgb-web/
ExecStart=%h/pirgb-web/pirgb-web

[Install]
WantedBy=multi-user.target
