[Unit]
Description=Web server (with ui) for control the pirgb-server
After=network.target

[Service]
WorkingDirectory=%h/src/pirgb-web/
Environment=AUTH_USERNAME=
Environment=AUTH_PASSWORD=
ExecStart=%h/src/pirgb-web/pirgb-web

[Install]
WantedBy=multi-user.target
