[Unit]
Description=Web server (with ui) for control the pirgb-server
After=network.target

[Service]
WorkingDirectory=%h/src/pirgb-web/
Environment=PIRGB_WEB_USER=
Environment=PIRGB_WEB_PASS=
ExecStart=%h/src/pirgb-web/pirgb-web

[Install]
WantedBy=multi-user.target
