:root {
  --color-primary-bright: #d8d8d8;
  --color-primary: #a9a9a9;
  --color-primary-dark: #747474;

  --color-bg-primary: #2a2a2a;
  --color-bg-secondary: #444444;
  --color-bg-highlight: var(--color-special-dark);

  --color-special-bright: #0000d8;
  --color-special: #0000A9;
  --color-special-dark: #000074;

  --color-bg: var(--color-bg-primary);
  --color: var(--color-primary);

  --border-radius: 0.25rem;
  --border-color: #696969;
}
