@font-face {
  font-family: "Sora";
  src: local("Sora"), url("/assets/Sora-VariableFont_wght.ttf") format("truetype");
}

:root {
  --bg-color: #121416;
  --alternate-bg-color: #676666;
  --text-color: #d1d1d1;
  --text-color-light: #c5c5c5;
  --special-color: green;
  --link-color: #543fd7;
  --button-color: #f6f6f6;
  --button-bg: #262228;
  --input-color: var(--text-color-light);
  --input-bg: #373636;

  font-family: Sora, Inter, Avenier, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--bg-color);

  --border-color: #919191;
  --border-width: 0.15rem;
  --border-style: groove;
  --border-radius: 0.25rem;
}

input {
  border-style: ridge;
  background-color: var(--input-bg);
  color: var(--input-color);
}

fieldset {
  transition: transform 0.25s, box-shadow 0.25s;
}

fieldset > legend {
  color: var(--text-color-light);
  text-shadow: 0.07em 0.07em 0.6em var(--special-color);
}

button {
  transition: transform 0.25s, filter 0.25s, box-shadow 0.25s;
}

@media (hover: hover) {
  button:hover {
    transform: scale(1.06);
  }
}

button:active {
  filter: brightness(80%);
  transform: scale(0.94);
}

.elevate-100 {
  box-shadow: 0.02em 0.02em 0.45em var(--special-color);
}

.elevate-200 {
  box-shadow: 0.04em 0.04em 0.45em var(--special-color);
}

.elevate-300 {
  box-shadow: 0.06em 0.06em 0.45em var(--special-color);
}

.elevate-400 {
  box-shadow: 0.08em 0.08em 0.45em var(--special-color);
}

.elevate-500 {
  box-shadow: 0.10em 0.10em 0.45em var(--special-color);
}

.elevate-600 {
  box-shadow: 0.12em 0.12em 0.45em var(--special-color);
}

.elevate-700 {
  box-shadow: 0.14em 0.14em 0.45em var(--special-color);
}

.elevate-800 {
  box-shadow: 0.16em 0.16em 0.45em var(--special-color);
}

.elevate-900 {
  box-shadow: 0.18em 0.18em 0.45em var(--special-color);
}
