:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f9f9f9;

  --primary-color: rgba(17, 17, 17, 0.87);
  --highlight-color: rgba(0, 0, 0, 1);

  --secondary-color: darkgray;

  --border-radius: 0.25rem;
}
