@font-face {
  font-family: "Sora";
  src: local("Sora"), url("/assets/Sora-VariableFont_wght.ttf") format("truetype");
}

:root {
  --bg-color: #ffffff;
  --alternate-bg-color: #d5d5d5;
  --text-color: #121416;
  --text-color-light: #313234;
  --special-color: #050091;
  --link-color: #543fd7;
  --button-color: #263238;
  --button-bg: #f1f1f1;
  --input-color: var(--text-color-light);
  --input-bg: #d5d5d5;

  font-family: Sora, Inter, Avenier, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--bg-color);

  --border-color: #a9a9a981;
  --border-width: 0.15rem;
  --border-style: groove;
  --border-radius: 0.25rem;
}

input {
  border-style: ridge;
  background-color: var(--input-bg);
  color: var(--input-color);
}

fieldset {
  box-shadow: 0.07em 0.07em 0.45em var(--special-color);
  transition: transform 0.25s, box-shadow 0.25s;
}

fieldset > legend {
  color: var(--text-color-light);
  text-shadow: 0.07em 0.07em 0.125em var(--special-color);
}

button {
  transition: transform 0.25s, filter 0.25s, box-shadow 0.25s;
  box-shadow: 0.07em 0.07em 0.4em var(--special-color);
}

@media (hover: hover) {
  button:hover {
    transform: scale(1.06);
    box-shadow: 0.15em 0.15em 0.45em var(--special-color);
  }
}

button:active {
  filter: brightness(80%);
  transform: scale(0.94);
  box-shadow: 0.04em 0.04em 0.35em var(--special-color);
}
