:root {
  --color-highlight: #000000;
  --color-bg: #d9d9d9;
  --color-bg-secondary: #aaaaaa;
  --color-bg-highlight: #999999;
  --color-border: #808080;
  --color-secondary: #555555;
  --color-base: #2a2a2a;

  --radius: 0.25rem;
}
