.colorPicker-toggle,
.colorPicker-popup-colorBlock {
    --border-radius: 0.1rem;
    padding: 0.15rem;
    background: rgba(36, 36, 36, 0.63);
    border-radius: var(--border-radius);
    width: 2em;
    height: 2em;
    position: relative;
    border: 0.05rem solid var(--border-color, currentColor);
    cursor: pointer;
}

.colorPicker-toggle .colorPicker-colorBlock {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

.colorPicker-popup-container {
    --border-radius: 0.1rem;
    background: rgba(36, 36, 36, 0.75);
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.colorPicker-popup-container .colorPicker-popup-content .colorPicker-popup-dropdownGrid {
    width: 20em;
    max-width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.colorPicker-popup-container .colorPicker-popup-colorBlock {
    margin: 0.25rem;
}

.colorPicker-popup-container .colorPicker-popup-active {
    box-shadow: 0rem 0rem 0.5rem 0.05rem red;
}
