@use "sass:color";
@use "./colors";

$surface: color.adjust(colors.$grey-900, $blue: +5, $alpha: -0.35);
$on-surface: #fff;

$background: #000;
$on-background: #fff;

$primary: #2eae00;
$on-primary: #fff;

$accent: color.adjust(#676778, $whiteness: -10%);
$secondary: $accent;
$on-secondary: #fff;

$error: colors.$red-700;
$on-error: #fff;

$warning: colors.$orange-700;
$on-warning: #fff;

$success: colors.$orange-700;
$on-success: #fff;

$border-width: 0.1rem;
$border-style: solid;
$border-color: color.adjust($on-surface, $alpha: -0.5);
$border-radius: 0.25rem;

$divider: $border-color;
