@use "sass:color";
@use "./theme";

:root {
    background-color: theme.$background;
    color: theme.$on-background;
    font-family: FiraCode, Roboto, Inter, Avenier, Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

fieldset {
    position: relative;
    background-color: theme.$surface;
    color: theme.$on-surface;
    border: theme.$border-width theme.$border-style theme.$border-color;
    border-radius: theme.$border-radius;
    padding: 1em;
}

button {
    color: theme.$on-surface;
    background-color: theme.$surface;
    border: theme.$border-width groove theme.$border-color;
    padding: 0.5em 1.2em;

    &:focus,
    &:focus-visible {
        outline: none;
    }
}

input {
    color: theme.$on-surface;
    background-color: theme.$surface;
    border: theme.$border-width ridge theme.$border-color;
    border-radius: theme.$border-radius;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        display: none;
    }

    &:focus
    &:focus-visible {
        outline: none;
    }

    &[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    &[type=range] {
        -webkit-appearance: none;
        appearance: none;
        box-shadow: inset 0 0 0.2em theme.$border-color;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            background-color: theme.$primary;
            width: 0.5em;
            height: 1.5em;
            border: theme.$border-width theme.$border-style theme.$border-color;
            border-radius: theme.$border-radius;
        }

        &:focus,
        &:focus-visible {
            outline: none;
        }
    }
}

a {
    color: theme.$accent;

    &:visited {
        color: color.adjust(theme.$accent, $lightness: -35%);
    }
}
