[Desktop Entry]
Name=Pirgb Web
Exec=webapp-container --local-content-can-access-remote-urls --app-id="pirgb-web.knackwurstking" $@ www/index.html
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
