[Desktop Entry]
Name=pirgb-web
Exec=webapp-container --app-id="pirgb-web.knackwurstking" $@ http://rpi-server:50831/
Icon=assets/icon.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
