* {
  box-sizing: border-box;
  position: relative;
  border-radius: var(--border-radius);
}

:root {
  font-family: Inter, Avenier, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

fieldset {
  border: var(--border-width) var(--border-style) var(--border-color);
  padding: 1em;
}

button {
  background-color: var(--alternate-bg-color);
  padding: 0.5em 1.2em;
  font-weight: 600;
  color: var(--button-color);
  background-color: var(--button-bg);
  border: var(--border-width) var(--border-style) var(--border-color);
  cursor: pointer;
}

button:focus,
button:focus-visible {
  /*outline: 4px auto -webkit-focus-ring-color;*/
  outline: none;
}

a {
  color: var(--link-color);
}

input {
  padding: 0.25em 0;
  color: var(--text-color);
  background-color: transparent;
  border-width: var(--border-width); 
  border-color: var(--border-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

textarea:focus,
input:focus {
  color: var(--color-primary-bright);
  outline: none;
  border-color: var(--color-special-bright);
}

input[type=number] {
  -moz-appearance: textfield;
}

.menu-button:active {
  box-shadow: 0.08em 0.08em 0.4em 0.1em var(--special-color); /* .elevate-400 */
}

.menu-button:hover {
  box-shadow: 0.18em 0.18em 0.9em 0.1em var(--special-color); /* .elevate-900 */
}
