@font-face {
  font-family: "Sora";
  src: local("Sora"), url("/assets/Sora-VariableFont_wght.ttf") format("truetype");
}

:root {
  font-family: Sora, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-mid);
  background-color: var(--bg-max);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--color-mid);
  text-decoration: inherit;
}
a:hover,
a:active {
  color: var(--color-low);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 1.5em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border: 0.1rem solid;
  border-color: var(--border-color, --bg-low);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-mid);
  background-color: var(--bg-mid);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover,
button:active {
  border-color: var(--color-special-max);
}
button:focus,
button:focus-visible {
  /*outline: 4px auto -webkit-focus-ring-color;*/
  outline: none;
}

input {
  padding: 0.3em .5em;
  background: transparent;
  color: var(--color-mid);
}

input:focus {
  color: var(--color-low);
  outline-width: 0.1rem !important;
  outline-color: var(--color-special-max) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

/* TODO: Remove this stupid input field inner spin stuff */
/* TODO: Style the input field a little */

*, *::after, *::before {
  box-sizing: border-box;
  border-color: var(--border-color, --bg-low);
  border-radius: var(--border-radius);
}
