:root {
  --border-width: 0.05rem;
  --border-style: solid;
  --border-color: rgba(0, 0, 0, 0.35);
  --border-radius: 0.25rem;
  font-family: FiraCode;
}

* {
  box-sizing: border-box;
}

/* Section Card */
fieldset.section-card {
  position: relative;
  display: flex;
  margin: 1rem 0;
  padding-top: 3rem;
  place-items: center;
  box-shadow: 0 0 0.85em 0.1em black;
  background-color: grey;
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
}

fieldset.section-card > legend {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem 1.3rem;
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: 0;
}

fieldset.section-card > section.content,
fieldset.section-card > section.actions {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-evenly;
  margin: 0.25rem;
}

fieldset.section-card > section.content {
  flex-direction: row;
  width: 100%;
}

fieldset.section-card > section.actions {
  overflow: visible;
  width: 8rem;
}

/* Pulse Range Slider */
.slider-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  place-items: center;
  margin: 0.25rem 0.5rem;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #6c63ff;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #6c63ff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #6c63ff;
  cursor: pointer;
}

.slider-value-display {
  font-size: 1.3em;
  width: 3em;
  text-align: center;
}
