:root {
  --background: rgb(0, 0, 0);

  --surface: rgba(35, 35, 45, 0.7);
  --on-surface: rgba(255, 255, 255, 0.85);

  --border-width: 0.05rem;
  --border-style: solid;
  --border-color: rgba(255, 255, 255, 0.35);
  --border-radius: 0.25rem;

  font-family: FiraCode;
  background-color: var(--background);
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* Section Card */
fieldset.section-card {
  position: relative;
  display: flex;
  place-items: center;
  box-shadow: 0 0 0.85em 0.1em var(--border-color);
  background-color: var(--surface);
  color: var(--on-surface);
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
  padding: 0 !important;
}

fieldset.section-card > legend {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem 1.3rem;
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: 0;
}

fieldset.section-card > section.content,
fieldset.section-card > section.actions {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-evenly;
  margin: 0.75rem 0 0 2rem;
}

fieldset.section-card > section.content {
  flex-direction: row;
  width: 100%;
  margin-right: 0rem;
}

fieldset.section-card > section.actions {
  width: 8rem;
  margin-left: 0rem;
}

/* Pulse Range Slider */
.slider-container {
  margin-left: 1rem;
  user-select: none;
}

/* Power Switch */
.power-switch {
  /*-webkit-tap-highlight-color: transparent;*/
  border-radius: 50%;
}
